<%= turbo_frame_tag "cart" do %>
  <h1> Cart </h1>
  <% if @cart.cart_items.count > 0 %>
    <%= render 'cart/cart_items' %>
    <p> Total: <%= @cart.total %> </p>
  <% else %>
  <div class="container">
    <p> Your cart is empty <i class="bi bi-cart"></i></p>
  </div>
  <% end %>
<% end %>
