<div class="container mt-4">
  <div class="card rounded">
    <div class="card-body">
      <h1 class="card-title">New Order</h1>
      
      <%= render 'form', order: @order %>

      <%= link_to 'Back', cart_path, class: 'btn btn-secondary mt-3' %>
    </div>
  </div>
</div>
